#For Loop

#1. Range Function

In [1]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [4]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [6]:
for table in range(1, 11):
    result = 2 * table
    print("2 x", table, "=", result)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [7]:
for vertical_line in range(5):
    print('*')

*
*
*
*
*

In [8]:
for horizontal_line in range(1):
    print("* " * 5)

* * * * *

In [9]:
for square in range(5):
    print("* " * 5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
for rectangle in range(5):
    print("* " * 15)

* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [11]:
for right_angle_triangle in range(5):
    print("* " * (right_angle_triangle + 1))

*
* *
* * *
* * * *
* * * * *

In [12]:
for triangle in range(5):
    print(" " * (5 - triangle) + "* " * (triangle + 1))

     *
    * *
   * * *
  * * * *
 * * * * *

In [13]:
for pentagon in range(5):
    print(" " * (5 - pentagon) + "* " * (pentagon + 2))

     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [14]:
for hexagon in range(5):
    print(" " * (5 - hexagon) + "* " * (5 + hexagon))
for hexagon in range(5 - 1, -1, -1):
    print(" " * (5 - hexagon) + "* " * (5 + hexagon))

     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *

#2. For Loop With String

In [15]:
for i in "Karachi":
    print(i)

K
a
r
a
c
h
i

#3. For Loop With List

In [16]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

#4. For Loop With Dictioary

In [17]:
dictionary = {1:"A", 2:"B", 3:"C", 4:"D", 5:"E"}
for i in dictionary.items():
    print(i)

(1, 'A')
(2, 'B')
(3, 'C')
(4, 'D')
(5, 'E')