#List Comprehension

# 1. List Comprehension With List

In [ ]:
list_1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

new_list_1 = [i + 1 for i in list_1]
print(new_list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#2. List Comprehension With Range Function

In [ ]:
list_2 = [i + 1 for i in range(20)]
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#3. List Compreension With condition

In [ ]:
list_3 = [i for i in range(21) if i % 2 == 0]
print(list_3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#4. List Comprehension With Nested Condition

In [ ]:
list_4 = [i for i in range(21) if i % 2 == 0 if i % 3 == 0]
print(list_4)

[0, 6, 12, 18]

#5. List Comprehesion With If Else Statemet

In [ ]:
list_5 = [i if i % 2 == 0 else "Invalid" for i in range(10)]
print(list_5)

[0, 'Invalid', 2, 'Invalid', 4, 'Invalid', 6, 'Invalid', 8, 'Invalid']

# 6. Nested List Comprehension

In [ ]:
list_6 = [[i * j for j in range(1, 6)]for i in range(6, 11)]
print(list_6)

[[6, 12, 18, 24, 30], [7, 14, 21, 28, 35], [8, 16, 24, 32, 40], [9, 18, 27, 36, 45], [10, 20, 30, 40, 50]]