# Operators

#1. Arithmetic Operators

In [1]:
a = 7
b = 3

print(a + b)

print(a - b)

print(a * b)

print(a / b)

print(a % b)

print(a ** b)

print(a // b)

10
4
21
2.3333333333333335
1
343
2

#2. Assignment Operators

In [2]:
x = 5

x += 3

x -= 3

x *= 3

x /= 3

x %= 3

x **= 3

x //= 3

print(x)

2.0

#3. Comperison Operators

In [3]:
x = 10
y = 20

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

#4. Logical Operators

In [4]:
y = 10
z = 20

print(y < 20 and z > 10)
print(y == z or z != 10)
print (not(y <= z and z >= y))

True
True
False